Source: ros-kinetic-roomblock-description
Section: misc
Priority: extra
Maintainer: Ryosuke Tajima <ryosuke.tajima@opensource-robotics.tokyo.jp>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-roslaunch, ros-kinetic-rostest
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-roomblock-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-create-description, ros-kinetic-joint-state-publisher, ros-kinetic-robot-state-publisher, ros-kinetic-rviz, ros-kinetic-urdf, ros-kinetic-xacro
Description: The roomblock_description package
